<Movable offsetTop="@(offsetTop)" offsetLeft="@(offsetLeft)">
    <p> Not Implemented. This is just an abstract Card </p>
</Movable>

@code {

    [Parameter] public double offsetTop { get; set; }
    [Parameter] public double offsetLeft { get; set; }

}
