@inherits Card

<Movable offsetTop="@(offsetTop)" offsetLeft="@(offsetLeft)">
    <div>
        <img src="https://i.pinimg.com/originals/c8/e1/f0/c8e1f0a9027e8151cdbe5b641537fb93.jpg" alt="Aquascaping">
    </div>
</Movable>

@code {

}
