@page "/board"

<div class="sidebar">
    <MatIcon Icon="text_fields" Class="icon" @onclick="@(() => AddRenderComponent(typeof(TextCard)))"></MatIcon>
    <MatIcon Icon="link" Class="icon"></MatIcon>
    <MatIcon Icon="check_box" Class="icon" @onclick="@(() => AddRenderComponent(typeof(TodoCard)))"></MatIcon>
    <MatIcon Icon="code" Class="icon" @onclick="@(() => AddRenderComponent(typeof(VideoCard)))"></MatIcon>
    <MatIcon Icon="dashboard" Class="icon" @onclick="@(() => AddRenderComponent(typeof(ImageCard)))"></MatIcon>
</div>

<div class="board dotgrid">

</div>

@CustomRender

@code {
    private RenderFragment CustomRender { get; set; }
    private List<Type> componentList = new List<Type>();

    private RenderFragment CreateComponent() => builder =>
    {
        foreach (Type t in componentList)
        {
            builder.OpenComponent(0, t);
            builder.AddAttribute(1, "offsetTop", 20.0);
            builder.AddAttribute(2, "offsetLeft", 20.0);
            builder.CloseComponent();
        }
    };

    private void AddRenderComponent(Type type)
    {
        componentList.Add(type);
        RenderComponent();
    }

    private void RenderComponent()
    {
        CustomRender = CreateComponent();
    }
}
