@page "/board"

<div class="sidebar">
    <MatIcon Icon="text_fields" Class="icon"></MatIcon>
    <MatIcon Icon="link" Class="icon"></MatIcon>
    <MatIcon Icon="check_box" Class="icon" @onclick="RenderComponent"></MatIcon>
    <MatIcon Icon="code" Class="icon"></MatIcon>
    <MatIcon Icon="dashboard" Class="icon"></MatIcon>
</div>

<div class="board dotgrid">
    <Movable offsetTop="0" offsetLeft="0">
    </Movable>


</div>

@CustomRender

@code {
    private int numberOfMovables = 0;
    private RenderFragment CustomRender { get; set; }

    private RenderFragment CreateComponent() => builder =>
    {
        for (var i = 0; i < numberOfMovables; i++)
        {
            builder.OpenComponent(0, typeof(Movable));
            builder.AddAttribute(1, "offsetTop", 20.0);
            builder.AddAttribute(2, "offsetLeft", 20.0);
            builder.CloseComponent();
        }
    };

    private void RenderComponent()
    {
        numberOfMovables++;
        CustomRender = CreateComponent();
    }
}
