@page "/board"

<div class="sidebar">
    <MatIcon Icon="text_fields" Class="icon" @onclick="@(() => AddRenderComponent(typeof(TextCard), 20.0, 20.0))"></MatIcon>
    <MatIcon Icon="link" Class="icon" ></MatIcon>
    <MatIcon Icon="check_box" Class="icon" @onclick="@(() => AddRenderComponent(typeof(TodoCard), 20.0, 20.0))"></MatIcon>
    <MatIcon Icon="code" Class="icon" @onclick="@(() => AddRenderComponent(typeof(VideoCard), 20.0, 20.0))"></MatIcon>
    <MatIcon Icon="dashboard" Class="icon" @onclick="@(() => AddRenderComponent(typeof(ImageCard), 20.0, 20.0))"></MatIcon>
</div>

<div class="board dotgrid">

</div>

@CustomRender

@code {
    private RenderFragment CustomRender { get; set; }
    private List<Type> componentList = new List<Type>();

    private double mouseX, mouseY = 0;

    private RenderFragment CreateComponent(double x, double y) => builder =>
    {
        foreach (Type t in componentList)
        {
            builder.OpenComponent(0, t);
            builder.AddAttribute(1, "offsetTop", y);
            builder.AddAttribute(2, "offsetLeft", x);
            builder.CloseComponent();
        }
    };

    private void AddRenderComponent(Type type, double x, double y)
    {
        componentList.Add(type);
        RenderComponent(x, y);
    }

    private void RenderComponent(double x, double y)
    {
        CustomRender = CreateComponent(x, y);
    }
}
