@inject IJSRuntime JsRuntime

<div class="movable" @ref="movableElement" draggable="false" @onmousedown="dragMouseDown" style="top: @(offsetTop)px; left: @(offsetLeft)px;">
    @ChildContent
</div>

@code {

    [Parameter] public double offsetTop { get; set; }
    [Parameter] public double offsetLeft { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    ElementReference movableElement;

    protected override void OnAfterRender(bool firstRender)
    {
        JsRuntime.InvokeVoidAsync("movableDragMouseDown", movableElement);
    }

    private void dragMouseDown(MouseEventArgs args)
    {
        JsRuntime.InvokeVoidAsync("movableDragMouseDown", movableElement);
    }
}
